<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Burgers</h1>
            <i class="fas fa-hamburger"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 ">
            <h2>Burgers to eat!</h2>
            <div class="col box">
                <li>
                    {{#each burgers}}
                        {{#unless eaten}}
                            {{> burgers/burger-block eaten=true}}
                            <hr>
                        {{/unless}}
                    {{/each}}
                </li>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <h2>Burgers you ate!</h2>
            <div class="col box">
                <li>
                    {{#each burgers}}
                        {{#if eaten}}
                            {{> burgers/burger-block eaten=false}}
                            <hr>
                        {{/if}}
                    {{/each}}
                </li>
            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col text-center">
        <h2>Add a Burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="ca"></label>
                <input type="text" id="ca" name="name">
            </div>

            <button class="btn btn-secondary" type="submit">Add Burger</button>
        </form>
    </div>
</div>
